$link-color: #0a9396;

form {
  width: 50%;
  margin-bottom: 1rem;

  button {
    padding: 14px 32px;
    border: none;
    border-radius: 1rem;
    font-weight: 200;
    cursor: pointer;

    &:hover {
      background-color: #48bfe3;
      color: #fff;
      font-weight: 800;
    }
  }
}

input[type=text] {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;

  border: 2px solid $link-color;
  border-radius: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  &:focus {
    border: 2px solid $link-color;
    outline: none;
  }
}

form {
  text-align: center;
}
