$link-color: #0a9396;
$link-color-hover: #0077b6;

ul {
  margin: 2rem 0;
}

li {
  list-style-type: none;
  margin-bottom: 0.4rem;

  & a {
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }


  &:last-child {
    margin: 0
  }
}
